<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ho-gia-dinh-heading" data-cy="HoGiaDinhCreateUpdateHeading">Thêm hoặc sửa hộ gia đình</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tenChuHo">Ten Chu Ho</label>
          <input type="text" class="form-control" name="tenChuHo" id="field_tenChuHo" data-cy="tenChuHo" formControlName="tenChuHo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_maHo">Ma Ho</label>
          <input type="text" class="form-control" name="maHo" id="field_maHo" data-cy="maHo" formControlName="maHo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_soCanCuoc">So Can Cuoc</label>
          <input type="text" class="form-control" name="soCanCuoc" id="field_soCanCuoc" data-cy="soCanCuoc" formControlName="soCanCuoc" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_loaiHo">Loai Ho</label>
          <input type="text" class="form-control" name="loaiHo" id="field_loaiHo" data-cy="loaiHo" formControlName="loaiHo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_soHoNgheo">So Ho Ngheo</label>
          <input type="text" class="form-control" name="soHoNgheo" id="field_soHoNgheo" data-cy="soHoNgheo" formControlName="soHoNgheo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sdt">Sdt</label>
          <input type="text" class="form-control" name="sdt" id="field_sdt" data-cy="sdt" formControlName="sdt" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_diaChi">Dia Chi</label>
          <input type="text" class="form-control" name="diaChi" id="field_diaChi" data-cy="diaChi" formControlName="diaChi" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_taikhoan">Taikhoan</label>
          <select class="form-control" id="field_taikhoan" data-cy="taikhoan" name="taikhoan" formControlName="taikhoan">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="taiKhoanOption.id === editForm.get('taikhoan')!.value?.id ? editForm.get('taikhoan')!.value : taiKhoanOption"
              *ngFor="let taiKhoanOption of taikhoansCollection; trackBy: trackTaiKhoanById"
            >
              {{ taiKhoanOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
