<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bacTienHoThuong">
      <h2 data-cy="bacTienHoThuongDetailsHeading"><span>Bac Tien Ho Thuong</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ bacTienHoThuong.id }}</span>
        </dd>
        <dt><span>Ten Bac</span></dt>
        <dd>
          <span>{{ bacTienHoThuong.tenBac }}</span>
        </dd>
        <dt><span>Gia Tri Bac</span></dt>
        <dd>
          <span>{{ bacTienHoThuong.giaTriBac }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/bac-tien-ho-thuong', bacTienHoThuong.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
