<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taiKhoan">
      <h2 data-cy="taiKhoanDetailsHeading"><span>Tai Khoan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ taiKhoan.id }}</span>
        </dd>
        <dt><span>User Name</span></dt>
        <dd>
          <span>{{ taiKhoan.userName }}</span>
        </dd>
        <dt><span>Pass Word</span></dt>
        <dd>
          <span>{{ taiKhoan.passWord }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tai-khoan', taiKhoan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
