<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-thue-heading" data-cy="ThueCreateUpdateHeading">Thêm mới hoặc sửa mức thuế</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tenThue">Ten Thue</label>
          <input type="text" class="form-control" name="tenThue" id="field_tenThue" data-cy="tenThue" formControlName="tenThue" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_giaTriThue">Gia Tri Thue</label>
          <input
            type="number"
            class="form-control"
            name="giaTriThue"
            id="field_giaTriThue"
            data-cy="giaTriThue"
            formControlName="giaTriThue"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
