<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="thue">
      <h2 data-cy="thueDetailsHeading"><span>Thue</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ thue.id }}</span>
        </dd>
        <dt><span>Ten Thue</span></dt>
        <dd>
          <span>{{ thue.tenThue }}</span>
        </dd>
        <dt><span>Gia Tri Thue</span></dt>
        <dd>
          <span>{{ thue.giaTriThue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/thue', thue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
